extends base

block content
    if errorMessage 
            span=errorMessage
    form(method="POST", enctype="multipart/form-data" )
        label(for="avatar") Avatar
        input(type="file" id="avatar", name="avatar", accept="image")
        input(name="name", value=loggedInUser.name,placeholder="Write your Name", type="text", required)
        input(name="email", value=loggedInUser.email,placeholder="Write Email", type="email", required)
        input(name="username", value=loggedInUser.username,placeholder="Write Username", type="text", required)
        input(name="location", value=loggedInUser.location,placeholder="Write Location", type="text" required)
        input(type="submit" value="Update Profile")
        if !loggedInUser.socialOnly   
            hr
            a(href="change-password") Change Password &rarr;